body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #111;
  color: #e8d3a7;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

a {
  color: #f1d7a1;
  text-decoration: underline;
}

.container {
  max-width: 700px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #f1d7a1;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  color: #f1d7a1;
  margin-top: 0;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 30px;
}

ul li::before {
  content: "• ";
  color: #e8d3a7;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1b1b1b;
}

th,
td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #222;
  color: #f1d7a1;
}

.footer {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  .footer {
    font-size: 14px;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

button[type="submit"] {
  background-color: #f1d7a1;
  color: #111;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #dabf85;
}

.form-button {
  margin-top: 20px;
}

.button-link {
  display: inline-block;
  background-color: #f1d7a1;
  color: #111;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.button-link:hover {
  background-color: #dabf85;
}

.promo-aviso {
  font-size: 18px;
  color: #ffcc66;
  margin-bottom: 20px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}



.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background-color: #222;
  margin: 20px 0;
  gap: 15px;
}

.menu li {
  margin: 0;
}

.menu a {
  color: #f1d7a1;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #333;
}
